.team {
    box-sizing: border-box;
    padding: 32px;
}


.team__header {
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    line-height: 43px;
    padding-bottom: 10px;
    border-bottom: 4px solid;
}

.collaborators {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}