.team {
    box-sizing: border-box;
    background-color: #D9F7E9;
    padding: 32px;
}


.team__header {
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    line-height: 43px;
    padding-bottom: 10px;
    border-bottom: 4px solid #57C278;
}