.member-card {
    display: flex;
    flex-flow: column nowrap;
    height: 270px;
    width: 260px;
    box-sizing: border-box;
    position: relative;
}

.team-background {
    height: 33%;
}

.general-background {
    height: 67%;
}

.info {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    padding: 32px;
}

.info__photo {
    height: 120px;
    width: 120px;
}